<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    MyBatis 映射器（Mapper）XML 文件，用于定义 SQL 映射配置。
    映射器文件通常用于将数据库操作与 Java 方法关联起来。
-->

    <!-- 定义映射器命名空间，通常与对应的 Java 接口或类的全限定名一致 -->
<mapper namespace="User">

    <!--
        namespace是这个mapper的名字
        id指的是“select * from user”这条语句的名字，起了这个名字后，我们就可以在后面的java代码里用这个名字指代这条sql语句
        resultType是需要映射成的类型的位置（不是电脑里的路径，是在java里的位置，哪个包（也可能不在包里，看你自己），哪个类）
        在这个例子里User是类名，Mybatis是User类所在的包名，这个地方每个人不一样，根据你的类的位置来决定。
    -->

    <select id="selectUser" resultType="Mybatis.User">
        select * from accounting_ledger.user
    </select>
    <!--
        在实际项目中，查询语句通常更为复杂，可以包含条件、关联查询等。
        这里的示例是一个简单的查询所有user的语句。
    -->

</mapper>
